requests==2.25.1
discord.py==1.7.3
firebase-admin==5.0.1
discord-ext-alternatives==2021.4.13
DiscordUtils==1.3.4
asyncio==3.4.3
datetime==4.3
pychal==1.10.0
NHentai-API==0.0.16
jishaku==2.0.0
python-dotenv==0.18.0
git+https://github.com/Rapptz/discord-ext-menus